#container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 1.5%;
    text-align: center;
    height: 350vh;
}
#container > div {
    height: 550px;
    box-shadow: 20px 20px 3px 3px grey;
    padding: 5px;
}
#container > div img {
    width: 72%;
    height: 65%;
}

#container p {
    margin : 5px;
    color: crimson;
}

#container .details {
    height: 120px;
}

#pagesCount {
    margin: 20px 0;
}

#checkoutDiv {
    display: flex;
    flex-direction: row-reverse;
}